@model WebPromotion.Views.SalesPerson.Index
@{
    @* ViewData["Title"] = "Index"; *@
    var fullName = ViewBag.FullName ?? "";
    var dataTotalConsultation = ViewBag.DataTotalConsultation ?? 0;
    var dataTotalActivityConsultationByMonth = ViewBag.DataTotalActivityConsultationByMonth as IEnumerable<dynamic> ?? Enumerable.Empty<dynamic>();
    var dataTotalActivityTestDriveByMonth = ViewBag.DataTotalActivityTestDriveByMonth as IEnumerable<dynamic> ?? Enumerable.Empty<dynamic>();
    var dataSalesPerformanceReview = ViewBag.DataSalesPerformanceReview ?? 0;
    Console.WriteLine("Data Sales Performance Review: " + dataSalesPerformanceReview);
    var dataSalesAverageRating = ViewBag.DataSalesAverageRating ?? 0;
    var dataTotalTestDrive = ViewBag.DataTotalTestDrive ?? 0;
    var dataTargetConsultationThisMonth = ViewBag.DataTotalTargetConsultationThisMonth as IEnumerable<dynamic> ?? Enumerable.Empty<dynamic>();
    var dataTargetTestDriveThisMonth = ViewBag.DataTotalTargetTestDriveThisMonth as IEnumerable<dynamic> ?? Enumerable.Empty<dynamic>();
    // safe access for first item
    var targetConsultationFirst = dataTargetConsultationThisMonth.Any() ? dataTargetConsultationThisMonth.First() : null;
    var targetTestDriveFirst = dataTargetTestDriveThisMonth.Any() ? dataTargetTestDriveThisMonth.First() : null;
    var listDataActivitySalesPerformanceThisMonth = ViewBag.ListDataActivitySalesPerformance as IEnumerable<dynamic> ?? Enumerable.Empty<dynamic>();

    var uniqueMonthForActivityConsultation = dataTotalActivityConsultationByMonth.Select(x => x.month).Distinct().ToList();
    var uniqueMonthForActivityTestDrive = dataTotalActivityTestDriveByMonth.Select(x => x.month).Distinct().ToList();
}

<h1>@ViewData["Title"]</h1>

<div
    class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4"
>
    <div>
    <h3 class="fw-bold mb-3">Welcome, @fullName</h3>
    <h6 class="op-7 mb-2">Have a great day!</h6>
    </div>
    <div class="ms-md-auto py-2 py-md-0">
    <a href="#" class="btn btn-label-info btn-round me-2">Manage</a>
    <a href="#" class="btn btn-primary btn-round">Add Customer</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
        <div class="card-body mb-2 mt-2">
        <div class="row align-items-center">
            <div class="col-icon">
            <div
                class="icon-big text-center icon-primary bubble-shadow-small"
            >
                <i class="fas fa-users"></i>
            </div>
            </div>
            <div class="col col-stats ms-3 ms-sm-0">
            <div class="numbers">
                <p class="card-category">Total Consultation</p>
                <h4 class="card-title">@dataTotalConsultation</h4>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
        <div class="card-body mb-2 mt-2">
        <div class="row align-items-center">
            <div class="col-icon">
            <div
                class="icon-big text-center icon-info bubble-shadow-small"
            >
                <i class="fas fa-user-check"></i>
            </div>
            </div>
            <div class="col col-stats ms-3 ms-sm-0">
            <div class="numbers">
                <p class="card-category">Total Test Drive</p>
                <h4 class="card-title">@dataTotalTestDrive</h4>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card card-stats card-round">
            <div class="card-body">
            <div class="row align-items-center">
                <div class="col-icon">
                <div
                    class="icon-big text-center icon-success bubble-shadow-small"
                >
                    <i class="fas fa-luggage-cart"></i>
                </div>
                </div>
                <div class="col col-stats ms-2 ms-sm-0">
                <div class="numbers">
                    <p class="card-category">@targetConsultationFirst?.title</p>
                    <h4 class="card-title">@(targetConsultationFirst?.value ?? 0) / 100</h4>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-icon">
                <div
                    class="icon-big text-center icon-secondary bubble-shadow-small"
                >
                    <i class="far fa-check-circle"></i>
                </div>
                </div>
                <div class="col col-stats ms-2 ms-sm-0">
                <div class="numbers">
                    <p class="card-category">@targetTestDriveFirst?.title</p>
                    <h4 class="card-title">@(targetTestDriveFirst?.value ?? 0) / 100</h4>
                </div>
                </div>
        </div>
        </div>
    </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
    <div class="card card-round">
        <div class="card-header">
        <div class="card-head-row">
            <div class="card-title">User Statistics</div>
            <div class="card-tools">
            <a
                href="#"
                class="btn btn-label-success btn-round btn-sm me-2"
            >
                <span class="btn-label">
                <i class="fa fa-pencil"></i>
                </span>
                Export
            </a>
            <a href="#" class="btn btn-label-info btn-round btn-sm">
                <span class="btn-label">
                <i class="fa fa-print"></i>
                </span>
                Print
            </a>
            </div>
        </div>
        </div>
        <div class="card-body">
        <div class="chart-container" style="min-height: 375px">
            <canvas id="statisticsChart"></canvas>
        </div>
        <div id="myChartLegend"></div>
        </div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="card card-primary card-round">
        <div class="card-header">
        <div class="card-head-row">
            <div class="card-title">Sales Performance</div>
            <div class="card-tools">
            <div class="dropdown">
                <button
                class="btn btn-sm btn-label-light dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >
                Export
                </button>
                <div
                class="dropdown-menu"
                aria-labelledby="dropdownMenuButton"
                >
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#"
                    >Something else here</a
                >
                </div>
            </div>
            </div>
        </div>
        @* this month *@
        <div class="card-category">@DateTime.Now.ToString("MMMM yyyy")</div>
        </div>
        <div class="card-body pb-0">
        <div class="mb-4 mt-2">
            <h1>@dataSalesPerformanceReview</h1>
        </div>
        <div class="pull-in px-2">
            <canvas id="dailySalesChart"></canvas>
        </div>
        </div>
    </div>
    <div class="card card-round">
        <div class="card-body pb-0">
        <div class="h1 fw-bold float-end text-primary">+5%</div>
        <h2 class="mb-2">17</h2>
        <p class="text-muted">Users online</p>
        <div class="pull-in sparkline-fix">
            <div id="lineChart"></div>
        </div>
        </div>
    </div>
    </div>
</div>

@* Geolocation *@
@* <div class="row">
    <div class="col-md-12">
    <div class="card card-round">
        <div class="card-header">
        <div class="card-head-row card-tools-still-right">
            <h4 class="card-title">Users Geolocation</h4>
            <div class="card-tools">
            <button
                class="btn btn-icon btn-link btn-primary btn-xs"
            >
                <span class="fa fa-angle-down"></span>
            </button>
            <button
                class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card"
            >
                <span class="fa fa-sync-alt"></span>
            </button>
            <button
                class="btn btn-icon btn-link btn-primary btn-xs"
            >
                <span class="fa fa-times"></span>
            </button>
            </div>
        </div>
        <p class="card-category">
            Map of the distribution of users around the world
        </p>
        </div>
        <div class="card-body">
        <div class="row">
            <div class="col-md-6">
            <div class="table-responsive table-hover table-sales">
                <table class="table">
                <tbody>
                    <tr>
                    <td>
                        <div class="flag">
                        <img
                            src="~/assets/img/flags/id.png"
                            alt="indonesia"
                        />
                        </div>
                    </td>
                    <td>Indonesia</td>
                    <td class="text-end">2.320</td>
                    <td class="text-end">42.18%</td>
                    </tr>
                    <tr>
                    <td>
                        <div class="flag">
                        <img
                            src="~/assets/img/flags/us.png"
                            alt="united states"
                        />
                        </div>
                    </td>
                    <td>USA</td>
                    <td class="text-end">240</td>
                    <td class="text-end">4.36%</td>
                    </tr>
                    <tr>
                    <td>
                        <div class="flag">
                        <img
                            src="~/assets/img/flags/au.png"
                            alt="australia"
                        />
                        </div>
                    </td>
                    <td>Australia</td>
                    <td class="text-end">119</td>
                    <td class="text-end">2.16%</td>
                    </tr>
                    <tr>
                    <td>
                        <div class="flag">
                        <img
                            src="~/assets/img/flags/ru.png"
                            alt="russia"
                        />
                        </div>
                    </td>
                    <td>Russia</td>
                    <td class="text-end">1.081</td>
                    <td class="text-end">19.65%</td>
                    </tr>
                    <tr>
                    <td>
                        <div class="flag">
                        <img
                            src="~/assets/img/flags/cn.png"
                            alt="china"
                        />
                        </div>
                    </td>
                    <td>China</td>
                    <td class="text-end">1.100</td>
                    <td class="text-end">20%</td>
                    </tr>
                    <tr>
                    <td>
                        <div class="flag">
                        <img
                            src="~/assets/img/flags/br.png"
                            alt="brazil"
                        />
                        </div>
                    </td>
                    <td>Brasil</td>
                    <td class="text-end">640</td>
                    <td class="text-end">11.63%</td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
            <div class="col-md-6">
            <div class="mapcontainer">
                <div
                id="world-map"
                class="w-100"
                style="height: 300px"
                ></div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div> *@
@* End Geolocation *@

@* <div class="row">
    <div class="col-md-4">
    <div class="card card-round">
        <div class="card-body">
        <div class="card-head-row card-tools-still-right">
            <div class="card-title">New Customers</div>
            <div class="card-tools">
            <div class="dropdown">
                <button
                class="btn btn-icon btn-clean me-0"
                type="button"
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >
                <i class="fas fa-ellipsis-h"></i>
                </button>
                <div
                class="dropdown-menu"
                aria-labelledby="dropdownMenuButton"
                >
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#"
                    >Something else here</a
                >
                </div>
            </div>
            </div>
        </div>
        <div class="card-list py-4">
            <div class="item-list">
            <div class="avatar">
                <img
                src="~/assets/img/jm_denis.jpg"
                alt="..."
                class="avatar-img rounded-circle"
                />
            </div>
            <div class="info-user ms-3">
                <div class="username">Jimmy Denis</div>
                <div class="status">Graphic Designer</div>
            </div>
            <button class="btn btn-icon btn-link op-8 me-1">
                <i class="far fa-envelope"></i>
            </button>
            <button class="btn btn-icon btn-link btn-danger op-8">
                <i class="fas fa-ban"></i>
            </button>
            </div>
            <div class="item-list">
            <div class="avatar">
                <span
                class="avatar-title rounded-circle border border-white"
                >CF</span
                >
            </div>
            <div class="info-user ms-3">
                <div class="username">Chandra Felix</div>
                <div class="status">Sales Promotion</div>
            </div>
            <button class="btn btn-icon btn-link op-8 me-1">
                <i class="far fa-envelope"></i>
            </button>
            <button class="btn btn-icon btn-link btn-danger op-8">
                <i class="fas fa-ban"></i>
            </button>
            </div>
            <div class="item-list">
            <div class="avatar">
                <img
                src="~/assets/img/talha.jpg"
                alt="..."
                class="avatar-img rounded-circle"
                />
            </div>
            <div class="info-user ms-3">
                <div class="username">Talha</div>
                <div class="status">Front End Designer</div>
            </div>
            <button class="btn btn-icon btn-link op-8 me-1">
                <i class="far fa-envelope"></i>
            </button>
            <button class="btn btn-icon btn-link btn-danger op-8">
                <i class="fas fa-ban"></i>
            </button>
            </div>
            <div class="item-list">
            <div class="avatar">
                <img
                src="~/assets/img/chadengle.jpg"
                alt="..."
                class="avatar-img rounded-circle"
                />
            </div>
            <div class="info-user ms-3">
                <div class="username">Chad</div>
                <div class="status">CEO Zeleaf</div>
            </div>
            <button class="btn btn-icon btn-link op-8 me-1">
                <i class="far fa-envelope"></i>
            </button>
            <button class="btn btn-icon btn-link btn-danger op-8">
                <i class="fas fa-ban"></i>
            </button>
            </div>
            <div class="item-list">
            <div class="avatar">
                <span
                class="avatar-title rounded-circle border border-white bg-primary"
                >H</span
                >
            </div>
            <div class="info-user ms-3">
                <div class="username">Hizrian</div>
                <div class="status">Web Designer</div>
            </div>
            <button class="btn btn-icon btn-link op-8 me-1">
                <i class="far fa-envelope"></i>
            </button>
            <button class="btn btn-icon btn-link btn-danger op-8">
                <i class="fas fa-ban"></i>
            </button>
            </div>
            <div class="item-list">
            <div class="avatar">
                <span
                class="avatar-title rounded-circle border border-white bg-secondary"
                >F</span
                >
            </div>
            <div class="info-user ms-3">
                <div class="username">Farrah</div>
                <div class="status">Marketing</div>
            </div>
            <button class="btn btn-icon btn-link op-8 me-1">
                <i class="far fa-envelope"></i>
            </button>
            <button class="btn btn-icon btn-link btn-danger op-8">
                <i class="fas fa-ban"></i>
            </button>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="col-md-8">
    <div class="card card-round">
        <div class="card-header">
        <div class="card-head-row card-tools-still-right">
            <div class="card-title">Transaction History</div>
            <div class="card-tools">
            <div class="dropdown">
                <button
                class="btn btn-icon btn-clean me-0"
                type="button"
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >
                <i class="fas fa-ellipsis-h"></i>
                </button>
                <div
                class="dropdown-menu"
                aria-labelledby="dropdownMenuButton"
                >
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#"
                    >Something else here</a
                >
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="card-body p-0">
        <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center mb-0">
            <thead class="thead-light">
                <tr>
                <th scope="col">Payment Number</th>
                <th scope="col" class="text-end">Date & Time</th>
                <th scope="col" class="text-end">Amount</th>
                <th scope="col" class="text-end">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">
                    <button
                    class="btn btn-icon btn-round btn-success btn-sm me-2"
                    >
                    <i class="fa fa-check"></i>
                    </button>
                    Payment from #10231
                </th>
                <td class="text-end">Mar 19, 2020, 2.45pm</td>
                <td class="text-end">$250.00</td>
                <td class="text-end">
                    <span class="badge badge-success">Completed</span>
                </td>
                </tr>
                <tr>
                <th scope="row">
                    <button
                    class="btn btn-icon btn-round btn-success btn-sm me-2"
                    >
                    <i class="fa fa-check"></i>
                    </button>
                    Payment from #10231
                </th>
                <td class="text-end">Mar 19, 2020, 2.45pm</td>
                <td class="text-end">$250.00</td>
                <td class="text-end">
                    <span class="badge badge-success">Completed</span>
                </td>
                </tr>
                <tr>
                <th scope="row">
                    <button
                    class="btn btn-icon btn-round btn-success btn-sm me-2"
                    >
                    <i class="fa fa-check"></i>
                    </button>
                    Payment from #10231
                </th>
                <td class="text-end">Mar 19, 2020, 2.45pm</td>
                <td class="text-end">$250.00</td>
                <td class="text-end">
                    <span class="badge badge-success">Completed</span>
                </td>
                </tr>
                <tr>
                <th scope="row">
                    <button
                    class="btn btn-icon btn-round btn-success btn-sm me-2"
                    >
                    <i class="fa fa-check"></i>
                    </button>
                    Payment from #10231
                </th>
                <td class="text-end">Mar 19, 2020, 2.45pm</td>
                <td class="text-end">$250.00</td>
                <td class="text-end">
                    <span class="badge badge-success">Completed</span>
                </td>
                </tr>
                <tr>
                <th scope="row">
                    <button
                    class="btn btn-icon btn-round btn-success btn-sm me-2"
                    >
                    <i class="fa fa-check"></i>
                    </button>
                    Payment from #10231
                </th>
                <td class="text-end">Mar 19, 2020, 2.45pm</td>
                <td class="text-end">$250.00</td>
                <td class="text-end">
                    <span class="badge badge-success">Completed</span>
                </td>
                </tr>
                <tr>
                <th scope="row">
                    <button
                    class="btn btn-icon btn-round btn-success btn-sm me-2"
                    >
                    <i class="fa fa-check"></i>
                    </button>
                    Payment from #10231
                </th>
                <td class="text-end">Mar 19, 2020, 2.45pm</td>
                <td class="text-end">$250.00</td>
                <td class="text-end">
                    <span class="badge badge-success">Completed</span>
                </td>
                </tr>
                <tr>
                <th scope="row">
                    <button
                    class="btn btn-icon btn-round btn-success btn-sm me-2"
                    >
                    <i class="fa fa-check"></i>
                    </button>
                    Payment from #10231
                </th>
                <td class="text-end">Mar 19, 2020, 2.45pm</td>
                <td class="text-end">$250.00</td>
                <td class="text-end">
                    <span class="badge badge-success">Completed</span>
                </td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
    </div>
    </div>
</div> *@


<!-- Kaiadmin JS -->
<script src="~/assets/js/kaiadmin.min.js"></script>
<!--   Core JS Files   -->
<script src="~/assets/js/core/jquery-3.7.1.min.js"></script>

<!-- jQuery Scrollbar -->
<script src="~/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

<!-- Chart JS -->
<script src="~/assets/js/plugin/chart.js/chart.min.js"></script>

<!-- jQuery Sparkline -->
<script src="~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

<!-- Chart Circle -->
<script src="~/assets/js/plugin/chart-circle/circles.min.js"></script>

<!-- Datatables -->
<script src="~/assets/js/plugin/datatables/datatables.min.js"></script>

<!-- Bootstrap Notify -->
<script src="~/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

<!-- jQuery Vector Maps -->
<script src="~/assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
<script src="~/assets/js/plugin/jsvectormap/world.js"></script>

<!-- Sweet Alert -->
<script src="~/assets/js/plugin/sweetalert/sweetalert.min.js"></script>


<script>
        var uniqueMonthForActivityConsultation = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(uniqueMonthForActivityConsultation));
        var dataTotalActivityConsultationByMonth = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(dataTotalActivityConsultationByMonth));

        var dataTotalActivityTestDriveByMonth = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(dataTotalActivityTestDriveByMonth));
        var uniqueMonthForActivityTestDrive = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(uniqueMonthForActivityTestDrive));

        var listDataActivitySalesPerformanceThisMonth = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(listDataActivitySalesPerformanceThisMonth));
        console.log("listDataActivitySalesPerformanceThisMonth:", listDataActivitySalesPerformanceThisMonth);

      $("#lineChart").sparkline([102, 109, 120, 99, 110, 105, 115], {
        type: "line",
        height: "70",
        width: "100%",
        lineWidth: "2",
        lineColor: "#177dff",
        fillColor: "rgba(23, 125, 255, 0.14)",
      });

      $("#lineChart2").sparkline([99, 125, 122, 105, 110, 124, 115], {
        type: "line",
        height: "70",
        width: "100%",
        lineWidth: "2",
        lineColor: "#f3545d",
        fillColor: "rgba(243, 84, 93, .14)",
      });

      $("#lineChart3").sparkline([105, 103, 123, 100, 95, 105, 115], {
        type: "line",
        height: "70",
        width: "100%",
        lineWidth: "2",
        lineColor: "#ffa534",
        fillColor: "rgba(255, 165, 52, .14)",
      });


        // Jsvectormap
    var world_map = new jsVectorMap({
        selector: "#world-map",
        map: "world",
        zoomOnScroll: false,
        regionStyle: {
            hover: {
                fill: '#435ebe'
            }
        },
        markers: [
            {
                name: 'Indonesia',
                coords: [-6.229728, 106.6894311],
                style: {
                    fill: '#435ebe'
                }
            },
            {
                name: 'United States',
                coords: [38.8936708, -77.1546604],
                style: {
                    fill: '#28ab55'
                }
            },
            {
                name: 'Russia',
                coords: [55.5807481, 36.825129],
                style: {
                    fill: '#f3616d'
                }
            },
            {
                name: 'China',
                coords: [39.9385466, 116.1172735]
            },
            {
                name: 'United Kingdom',
                coords: [51.5285582, -0.2416812]
            },
            {
                name: 'India',
                coords: [26.8851417, 75.6504721]
            },
            {
                name: 'Australia',
                coords: [-35.2813046, 149.124822]
            },
            {
                name: 'Brazil',
                coords: [-22.9140693, -43.5860681]
            },
            {
                name: 'Egypt',
                coords: [26.834955, 26.3823725]
            },
        ],
        onRegionTooltipShow(event, tooltip) {
            tooltip.css({ backgroundColor: '#435ebe' })
        }
    });

    //Chart

    var ctx = document.getElementById('statisticsChart').getContext('2d');

    var statisticsChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: uniqueMonthForActivityConsultation,
            datasets: [ {
                label: "Consultation Handled",
                borderColor: '#f3545d',
                pointBackgroundColor: 'rgba(243, 84, 93, 0.6)',
                pointRadius: 0,
                backgroundColor: 'rgba(243, 84, 93, 0.4)',
                legendColor: '#f3545d',
                fill: false,
                borderWidth: 2,
                data: dataTotalActivityConsultationByMonth.map(x => x.totalCount)
            }, {
                label: "Test Drives Handled",
                borderColor: '#fdaf4b',
                pointBackgroundColor: 'rgba(253, 175, 75, 0.6)',
                pointRadius: 0,
                backgroundColor: 'rgba(253, 175, 75, 0.4)',
                legendColor: '#fdaf4b',
                fill: false,
                borderWidth: 2,
                data: dataTotalActivityTestDriveByMonth.map(x => x.totalCount)
            }]
        },
        options : {
            responsive: true, 
            maintainAspectRatio: false,
            legend: {
                display: false
            },
            tooltips: {
                bodySpacing: 4,
                mode:"nearest",
                intersect: 0,
                position:"nearest",
                xPadding:10,
                yPadding:10,
                caretPadding:10
            },
            layout:{
                padding:{left:5,right:5,top:15,bottom:15}
            },
            scales: {
                yAxes: [{
                    ticks: {
                        fontStyle: "500",
                        beginAtZero: false,
                        maxTicksLimit: 5,
                        padding: 10
                    },
                    gridLines: {
                        drawTicks: false,
                        display: false
                    }
                }],
                xAxes: [{
                    gridLines: {
                        zeroLineColor: "transparent"
                    },
                    ticks: {
                        padding: 10,
                        fontStyle: "500"
                    }
                }]
            }, 
            legendCallback: function(chart) { 
                var text = []; 
                text.push('<ul class="' + chart.id + '-legend html-legend">'); 
                for (var i = 0; i < chart.data.datasets.length; i++) { 
                    text.push('<li><span style="background-color:' + chart.data.datasets[i].legendColor + '"></span>'); 
                    if (chart.data.datasets[i].label) { 
                        text.push(chart.data.datasets[i].label); 
                    } 
                    text.push('</li>'); 
                } 
                text.push('</ul>'); 
                return text.join(''); 
            }  
        }
    });

    var myLegendContainer = document.getElementById("myChartLegend");

    // generate HTML legend
    myLegendContainer.innerHTML = statisticsChart.generateLegend();

    // bind onClick event to all LI-tags of the legend
    var legendItems = myLegendContainer.getElementsByTagName('li');
    for (var i = 0; i < legendItems.length; i += 1) {
        legendItems[i].addEventListener("click", legendClickCallback, false);
    }

    var dailySalesChart = document.getElementById('dailySalesChart').getContext('2d');

    var myDailySalesChart = new Chart(dailySalesChart, {
        type: 'line',
        data: {
            labels: listDataActivitySalesPerformanceThisMonth.map(x => x.day),
            datasets:[ {
                label: "Sales Performance",
                fill: !0, 
                backgroundColor: "rgba(255,255,255,0.2)", 
                borderColor: "#fff", borderCapStyle: "butt", 
                borderDash: [], borderDashOffset: 0, 
                pointBorderColor: "#fff", 
                pointBackgroundColor: "#fff", 
                pointBorderWidth: 1, 
                pointHoverRadius: 5, 
                pointHoverBackgroundColor: "#fff", 
                pointHoverBorderColor: "#fff", 
                pointHoverBorderWidth: 1, 
                pointRadius: 1, 
                pointHitRadius: 5, 
                data: listDataActivitySalesPerformanceThisMonth.map(x => x.totalCount)
            }]
        },
        options : {
            maintainAspectRatio:!1, legend: {
                display: !1
            }
            , animation: {
                easing: "easeInOutBack"
            }
            , scales: {
                yAxes:[ {
                    display:!1, ticks: {
                        fontColor: "rgba(0,0,0,0.5)", fontStyle: "bold", beginAtZero: !0, maxTicksLimit: 10, padding: 0
                    }
                    , gridLines: {
                        drawTicks: !1, display: !1
                    }
                }
                ], xAxes:[ {
                    display:!1, gridLines: {
                        zeroLineColor: "transparent"
                    }
                    , ticks: {
                        padding: -20, fontColor: "rgba(255,255,255,0.2)", fontStyle: "bold"
                    }
                }
                ]
            }
        }
    });

    $("#activeUsersChart").sparkline([112,109,120,107,110,85,87,90,102,109,120,99,110,85,87,94], {
        type: 'bar',
        height: '100',
        barWidth: 9,
        barSpacing: 10,
        barColor: 'rgba(255,255,255,.3)'
    });

</script>
